

  /* .share-section {
    position: relative;
  
  }
  
  .share-section::before {
    content: '';
  position: absolute;
  top: 0;
  right:0;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255); 
  filter: drop-shadow(-5px -5px 5px rgba(125, 124, 124, 0.2)) 
          drop-shadow(5px -5px 5px rgba(139, 138, 138, 0.2)) 
          drop-shadow(0 -5px 5px rgba(126, 125, 125, 0.2)); 
  } */

  .share-section{
    width: fit-content;
    position: absolute;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: red;
    z-index: 9999;
  }

  .triangle{
    margin-left: auto;
    margin-top: -20px;
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white; 
    filter: drop-shadow(-5px -5px 5px rgba(245, 239, 239, 0.2)) 
          drop-shadow(5px -5px 5px rgba(245, 239, 239, 0.2)) 
          drop-shadow(0 -5px 5px rgba(126, 125, 125, 0.2));
  }